<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    
</head>
<body class="active bg-secondary">
    <div class="bg-dark text-white p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 navbar-brand">Online Books</div>
                <div class="col-6 text-right">
                    <vc:cart-summary></vc:cart-summary>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark text-white text-center p-1">
        <span class="navbar-brand ml-2">
            IS 413 - Favorite Books
        </span>
    </div>
    <div class="row m-1 p-1">
        <div class="col-3">
            <h1> Menu </h1>
            <!--vc = view component this comes from the "NavigationMenuViewComponent"-->
            <vc:navigation-menu />
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>
