<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="active">
    <div class="bg-dark text-white text-center p-1">
        <span class="navbar-brand ml-2">
            IS 413 - Favorite Books
        </span>
    </div>
@RenderBody() 
</body>
</html>
